//
//	SECTIONS: GRABS
//


.file-slide[data-file-id="containers"] {
       
    @include respond-above(md) {
        width: 85vw;
        .stack-column {
            width: 15vw;
        }

        .stack-display {
            width: 70vw;
        }

        &.active {
            left: 15vw;
        }
    
    }
    
}
