//
//	SECTIONS: GRABS
//


.file-slide[data-file-id="orders"] {


    @include respond-above(md) {
        .stack-column {
            width: 15vw;
        }
        
        .stack-display {
            width: 85vw;
        }

        &.active {
            left: 0vw;
        }
    }
}